<?xml version = "1.0" encoding = "UTF-8"?>
<configuration>
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} - [%X{traceId}] - %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>C:\Users\bbaruati\IdeaProjects\spring6\spring6-category-log.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>C:\Users\bbaruati\IdeaProjects\spring6\spring6-category-log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} - [%X{traceId}] - %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

<!--    &lt;!&ndash; Define the loggers &ndash;&gt;-->
<!--    <logger name="com.spring6.brand" level="DEBUG"/>-->
    <logger name="org.springframework" level="DEBUG"/>

    <!-- Set the root logger -->
    <root level="INFO">
        <appender-ref ref="consoleAppender"/>
        <appender-ref ref="fileAppender"/>
    </root>


    <!-- Async Configuration -->
    <springProfile name="production">
        <springProperty scope="context" name="enableAsyncLogging" source="logging.enableAsync" defaultValue="true" />
        <if condition='property("enableAsyncLogging").equals("true")'>
            <then>
                <appender name="asyncConsoleAppender" class="ch.qos.logback.classic.AsyncAppender">
                    <appender-ref ref="consoleAppender" />
                </appender>
                <appender name="asyncFileAppender" class="ch.qos.logback.classic.AsyncAppender">
                    <appender-ref ref="fileAppender" />
                </appender>
                <root level="info">
                    <appender-ref ref="asyncConsoleAppender" />
                    <appender-ref ref="asyncFileAppender" />
                </root>
            </then>
        </if>
    </springProfile>

</configuration>
